@tailwind base;
@tailwind components;
@tailwind utilities; 

*{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: Roboto;
    -webkit-font-smoothing: antialiased;
    background: rgb(80,41,168);
    background: linear-gradient(137deg, rgba(80,41,168,1) 0%, rgba(118,51,164,1) 31%, rgba(171,62,160,1) 78%, rgba(217,73,158,1) 100%);
} 